@font-face {
font-family: "PusKul";
src: url(KCC-KP-PusKul-Medium-KP-2011KPS.woff);
}

@font-face {
font-family: "CheongPong";
src: url(KCC-KP-CheongPong-Bold-KP-2011KPS.woff);
}

h1 {
  font-family: 'PusKul';
}

p {
  font-family: 'CheongPong';
}
